{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        Modular Local
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">C and Arduino</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Documentação</a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        Localização
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">C and Arduino</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Documentação</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}